.Title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #FFF;
}

.Paragraph{
    font-size: 1rem;
    color: #FFF;
    margin-bottom: 1rem;
}

.Link{
    font-size: 1rem;
    color: #646cff;
    margin-bottom: 1rem;
    text-decoration: none;
}